.bd {
    background: #af7e44 url('https://www.templates-preview.com/opencart/300111896/catalog/view/theme/default/images/bg.jpg') 50% 0% repeat;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
}
.box-heading {
    font-family: 'Oswald';
    font-size: 32px;
    font-weight: normal;
    line-height: 40px;
    color: #161412;
    text-align: center;
    padding-bottom: 40px;
    text-shadow: 1px 1px #bbb3a5;
    background: url('https://www.templates-preview.com/opencart/300111896/catalog/view/theme/default/images/bg_box_head_1.png') 50% top no-repeat;
    padding-top: 40px;
    margin-top: -50px;
}
.box-product {
    background: url('https://www.templates-preview.com/opencart/300111896/catalog/view/theme/default/images/bg_latest.png') left 185px no-repeat;
    background-size: 100% 100%;
    overflow: auto;

}
.arrow-style{
    color: brown;
    font-weight: 900;
    font-size: 7vh;
}

.category-wall{
    background: url(../../../../assets/images/appIcons/wllhang.png) left 185px no-repeat;
    background-size: 100% 100%;
}

/* @media (max-width: 1199px)
{
.box-product {
    background-position: 50% 165px;
    overflow: hidden;
}
} */

