<app-user-nav-bar></app-user-nav-bar>




<div  class="container" style="margin-top: 40px;">
    <h3 style="color: gray;">My Orders</h3>
<hr>

    <div class="card" style="padding: 20px; border-radius: 10px; margin-top: 10px;" *ngFor="let order of orders">
        <div class="row">
            <div class="col-1 " >
                <div style="font-size:  large; font-weight: 500; color: gray;">{{order.orderId}}</div>
            </div>

            <div class="d-flex align-items-center col-5">
                <div>
                    <div style="font-size: large; font-weight: 400;">{{order.bookNames}}</div>
                </div>
            </div>

            <div class="d-flex align-items-center col-2" >
                <div>
                    <div style="font-size: large; font-weight: 400;">{{(order.orderPlacedAt).substring(0, (order.orderPlacedAt).lastIndexOf(" "))}}</div>
                </div>
            </div>
            
            <div class="d-flex align-items-center col-2" >
                <div style="color:  brown; font-size: larger; font-weight: bold;">{{-200 | currency
                    :'INR'}} </div>

            </div>
            <div class="d-flex align-items-center col-2" >
                <div style="color: green; font-size: larger; font-weight: bold;">{{200 | currency
                    :'INR'}} </div>
                    <div style="color: brown; font-size: small; margin-top: 3px;font-weight: bold; margin-left: 5px; text-decoration: line-through;">{{200 | currency
                        :'INR'}} </div>

            </div>


        </div>
    </div>




</div>

<div *ngIf="count<=0" class="container" style="margin-top: 200px; text-align: center ;">
    <h2 style="color: gray;">No Items In Carts !</h2>
</div>
