<div class="row">
  <div class="col-1"
    style="background-color: rgb(43, 43, 97); border-top-right-radius:20px;border-bottom-right-radius:20px; height: 100%; position: fixed;top: 0;left: 0px;">
    <app-admin-sidebar></app-admin-sidebar>
  </div>


  <div class="col-10 " style=" clear: both; float: left; left: 13%;margin-top: 20px; ">
    <h3>Books</h3>
    <hr>
    <div class="row">
      <div>
        <div class="">
          <select name="cat" placeholder="select" style="  font-size: medium; " class=" classic"
            (change)="changedropdown($event)">
            <option value="0">All</option>
            <option *ngFor="let category of Categories" value={{category.categoryId}}>{{category.categoryName}}</option>
          </select>
        </div>
      </div>
      <div style="margin-left: 20px;">
        <app-book-search></app-book-search>
      </div>
     
    </div>



    <div class="row" style="margin-top: 2rem;">
      <div class="col-lg-1"></div>

      <div class="col-lg-6"></div>
      <div class="col-lg-3">

      </div>
      <div class="row">
        <div style="margin-left: 20px;" class="">
          <br>
          <br>


          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <br>
              <br>
          
          
              <div class="row">
          
                <table class="table table-bordered table-hover table-dark">
                  <thead>
                    <tr>
                      <th *ngFor="let column of headers">{{column}}</th>
                      <th>Function</th>
          
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of rows">
                      <td>{{row["bookId"]}}</td>
                      <td>{{row["catId"]}}</td>
                      <td><img src="{{image_url}}" alt="" width="100rem"></td>
                      <td>{{row["bookTitle"]}}</td>
                      <td>{{row["bookAuthor"]}}</td>
                      <td>
                        <div style="width: 100%; overflow-wrap: break-word;">{{row["bookDescription"]}}
                        </div>
                      </td>
                      <td>{{row["bookIsbn"]}}</td>
                      <td>{{row["bokkYear"]}}</td>
                      <td>{{row["bookPrice"]}}</td>
                      <td>{{row["bookPosition"]}}</td>
                      <td>{{row["bookStatus"]}}</td>
                      <td>{{row["bookQuantity"]}}</td>
                      <td>{{row["bookAddedAt"]}}</td>
                      <td>
                        <div class="row">
                          <div style=" cursor: pointer; margin: 5px; margin-left: 2px; background-color: blueviolet;">
                            <img src="https://www.pdfzorro.com/Images/IconsFunktionen/pdf-edit.webp" width="30px" alt="">
                          </div>
          
                          <div style="cursor: pointer; margin: 5px; margin-left: 2px;" ><img
                              src="https://lh3.googleusercontent.com/G2jzG8a6-GAA4yhxx3XMJfPXsm6_pluyeEWKr9I5swUGF62d2xo_Qg3Kdnu00HAmDQ"
                              width="30px" alt="" (click)=deleteBook(row.bookId)></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
          
          
          
          
              </div>
            </div>

  
      </div>
    </div>