<div class="row">
  <div class="col-1"
    style="background-color: rgb(43, 43, 97); border-top-right-radius:20px;border-bottom-right-radius:20px; height: 100%; position: fixed;top: 0;left: 0px;">
    <app-admin-sidebar></app-admin-sidebar>
  </div>


  <div class="col-10 " style=" clear: both; float: left; left: 13%;margin-top: 40px; ">
    <h3>Books</h3>
    <hr>
    <div class="row d-flex justify-content-between">
      <div>
        <div class="">
          <select name="cat" placeholder="select" style="  font-size: medium; " class=" classic"
            (change)="changedropdown($event)">
            <option value="0">All</option>
            <option *ngFor="let category of Categories" value={{category.categoryId}}>{{category.categoryName}}</option>
          </select>
        </div>
      </div>
      <div >
        <app-book-search></app-book-search>
      </div>
     
    </div>



    <div class="row" style="margin-top: 2rem;">
      
      <div class="row">
        <div style="margin-left: 20px;" class="">
        


          <div class="row">
            <div class="col-lg-10 " style="margin-left: 20px;">
            
              <div class="row">
          
                <table class="table table-bordered  " >
                  <thead class="table-dark">
                    <tr>
                      <th *ngFor="let column of headers">{{column}}</th>
                      <th>Function</th>
          
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let row of rows">
                      <td style="font-weight: bold;">{{row["bookId"]}}</td>
                      <td>{{row["catId"]}}</td>
                      <td><img src="assets/images/categories/{{row.bookImage}}" alt="" height="100px"></td>
                      <td>{{row["bookTitle"]}}</td>
                      <td>{{row["bookAuthor"]}}</td>
                      <td>
                        <div style="width: 100%; overflow-wrap: break-word;">{{row["bookDescription"]}}
                        </div>
                      </td>
                      <td>{{row["bookIsbn"]}}</td>
                      <td>{{row["bookYear"]}}</td>
                      <td>{{row["bookPrice"]|currency:'INR'}}</td>
                      <td>{{row["bookPosition"]}}</td>
                      <td>{{row["bookStatus"]}}</td>
                      <td>{{row["bookQuantity"]}}</td>
                      <td>{{row["bookAddedAt"]}}</td>
                      <td>
                        <div class="row">
                          <div (click)="addDefaultBookDetails(row)" type='button' data-toggle="modal" data-target="#bookModal" style=" cursor: pointer; margin: 5px; margin-left: 10px; background-color: white;">
                            <img src="https://www.pdfzorro.com/Images/IconsFunktionen/pdf-edit.webp" width="30px" alt="">
                          </div>
          
                          <div style="cursor: pointer; margin: 5px; margin-left: 2px;" ><img
                              src="https://lh3.googleusercontent.com/G2jzG8a6-GAA4yhxx3XMJfPXsm6_pluyeEWKr9I5swUGF62d2xo_Qg3Kdnu00HAmDQ"
                              width="30px" alt="" (click)=deleteBook(row.bookId)></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
          
          
          
          
              </div>
            </div>

  
      </div>
    </div>













    <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">


                <form #bookForm="ngForm" class="form-class">
                    <div class="row " style="background-color: azure;">
                        <div class="col-8 d-flex align-items-center justify-content-center">
                            <input (change)="onSelectFile($event)" required type="file" accept="*.png.jpg">
                        </div>
                        <div class="col-4"> <img  [src]="url" alt="" width="80px"
                                height="80px"></div>
                    </div>
                    <div class="form-group col-lg-9" style="margin-left: 50px; margin-top: 20px;">
                        <input #bookTitle='ngModel' [(ngModel)]='bookModel.bookTitle' required name='bookTitle' type="text" class="form-control  " id="book-title"
                            placeholder="Enter Book Titile"><br>
                        <input #bookAuthor='ngModel' [(ngModel)]='bookModel.bookAuthor' required name='bookAuthor' required name="bookAuthor" type="text" class="form-control" id="bookAuthor"
                            placeholder="Enter Book Author"><br>

                            

                            <input #bookPrice='ngModel' [(ngModel)]='bookModel.bookPrice' required name="bookPrice" type="number" class="form-control" id="bookPrice"
                            placeholder="Enter Price">

                            <input style="margin-top: 20px;" #bookYear='ngModel' [(ngModel)]='bookModel.bookYear' required name="bookYear" type="number" class="form-control" id="bookYear"
                            placeholder="Enter Year">

                        <input style="margin-top: 20px;" bookDesc='ngModel' [(ngModel)]='bookModel.bookDes' required name="bookDesc" type="text" class="form-control" id="bookDesc"
                            placeholder="Enter Book Description"><br>

                        <input #bookPosition='ngModel' [(ngModel)]='bookModel.bookPos' required name="bookPosition" type="number" class="form-control" id="bookPosition"
                            placeholder="Enter Catrgory position">

                            <input style="margin-top: 20px;" #bookQty='ngModel' [(ngModel)]='bookModel.bookQty' required name="bookQty" type="number" class="form-control" id="bookQty"
                            placeholder="Enter Quantity">
                        <select  (change)='changeCat($event)' style="margin-top: 20px;" class="custom-select">
                            <option value="{{bookModel.catId}}" selected>Selected- {{bookModel.catName}}</option>
                            <option *ngFor="let cat of Categories" value="{{cat.categoryId}}">{{cat.categoryName}}
                            </option>
                        </select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button (click)="saveBookEdit()" [disabled]='bookForm.invalid' data-dismiss="modal" id="addcat" type="button" class="btn btn-dark">Save</button>
            </div>
        </div>
    </div>
</div>