<div class="fullcontainer">
<div  class="container">
    <ul>
        <li *ngFor="let cartItem of cart">
            <div>
                <img [src]="cartItem.imageUrl" [alt]="cartItem.bookTitle">
            </div>
            <div class="title">
                    {{cartItem.bookTitle}}
            </div>

            <div class="form-group">
                <label for="" >Quantity</label>
                <input type="number" class="quantity" #quantitySelect (change)="changeQuantity(cartItem,quantitySelect.value)" value="1">
            </div>

            <div>
                {{cartItem.price | currency}}
            </div>

            <div>
               <!-- <button class="(click)="removeFromCart(cartItem)"" (click)="removeFromCart(cartItem)">
                    Remove
                </button>-->
                <i class="bil bi-cart-x" id="remove-button"(click)="removeFromCart(cartItem)" style="font-size:30px;"></i>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="foods-count">hhh</div>
            <div class="total-price">hhh</div>
        </div>
    </div>
 


</div>



</div>