.container{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:flex-start;
    justify-content:space-evenly;
    padding-left: 2%;
}

ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid #560bad;
    background-color: #D0C8CA;
    border-radius: 1rem;
    list-style-type: none;
    margin: .5rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;

}

ul li:last-child{
   border: none; 
}

ul li img{
    width: 5rem;
    height: 5rem;
    border-radius: .2rem;
    object-fit: fill;
}

ul li div{
    padding: .5rem;
}

ul li div:not(:first-child){
    flex-basis: 18%;
}


.title{
    font-weight: 500;
}



#remove-button:hover{
    opacity: 1;
    cursor: pointer;
}
.quantity
{
    border-radius: 40rem;
    width: 40%;
    text-align: center;
    margin-left: .8rem;
    padding-left: .8rem;
}
.fullcontainer
{
    padding-top: 5%;
    height: 58rem;
    width: 100%;
    background-color: #756041;
}


.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
}

.checkout>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.checkout .foods-count{
    margin-bottom: 1.5rem;
}

.checkout .foods-count::before{
    content: 'Count: ';
    color: grey;
}

.checkout .total-price::before{
    content: 'Price: ';
    color: grey;
}
