<app-user-nav-bar></app-user-nav-bar>
<div class="wrapper">
    <div class="container">
        <div class="row g-1">
            <div class="col-md-3 itemlist"  *ngFor="let item of items">
                <div class="card p-3">
                    <!-- <i *ngIf ="!addedtowishlist"class="far fa-heart text-right" (click) = addtowishlist()></i>
                    <i *ngIf ="addedtowishlist" class="fas fa-heart text-right" (click) = removefromwishlist() ></i> -->
                    <div class="text-center"> <img src="assets/images/categories/{{item.bookImage}}" height="200px"> </div>
                    <div style="margin-top: 20px; color: brown; font-size: large; font-weight: bold;" >{{item.bookTitle}}</div>
                    <div class="font-weight-bold d-block">{{item.bookAuthor}}</div>
                    <div class="text-success" style="font-weight: bold; margin-top: 10px;"> <span >{{item.bookPrice | currency :"INR"}}</span> 
                        
                        
                        <div class="buttons d-flex flex-row">
                            <!-- <div class="cart"><i class="fa fa-shopping-cart"></i></div>  -->
                            <button
                                class="btn btn-dark cart-button btn-block" (click)="viewBook(item.bookId)">View Book
                            </button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>