<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2  class="display-4 admin-text text-secondary">Welcome Admin !</h2>





    <div class="row d-flex justify-content-around" style=" margin-top: 50px;">
      <!-- card -->
      <div class="card card-style">
        <!-- top of image -->
        <div class="row">
          <img class="card-img-top card-imag-total" src="https://icon-library.com/images/911dac609c.svg.svg"
            alt="Card image cap">
          <div class="text-block">
            <div style="color: gray;" class="">Total</div>
            <div class=" count-text">221</div>
            <div style=" font-weight: 700; color: gray;">Books</div>
          </div>
        </div>
      </div>


      <!-- card -->

      <div class="card card-style">
        <!-- top of image -->
        <div class="row">
          <img class="card-img-top card-imag-total" src="https://cdn.pixabay.com/photo/2016/01/23/16/02/book-1157658__480.png"
            alt="Card image cap">
            <div class="text-block">
              <div style="color: gray;" class="">Total</div>
              <div class=" count-text">221</div>
              <div style=" font-weight: 700; color: gray;">Available Books</div>
            </div>
        </div>
      </div>

      <!-- card -->
      <div class="card card-style">
        <!-- top of image -->
        <div class="row">
          <img class="card-img-top card-imag-total" src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/users.png"
            alt="Card image cap">
            <div class="text-block">
              <div style="color: gray;" class="">Total</div>
              <div class=" count-text">221</div>
              <div style=" font-weight: 700; color: gray;">Users</div>
            </div>
        </div>
      </div>

    </div>

  </div>