<app-user-nav-bar></app-user-nav-bar>
<ul>
    <li *ngFor="let category of categories">
        <div *ngIf="category.status==true">


            <a (click)="onCatClick(category.categoryId)">
                <img src="assets/images/categories/{{category.image}}" alt="Image Not Found">
                <div class="content">
                    <div class="name">
                        {{category.categoryName}}
                    </div>

                    <div class="product-item-footer" (click)="onCatClick(category.categoryId)">
                        <div class="origins">
                            <span style="font-size: medium;">
                                {{category.description}}
                            </span>
                        </div>

                    </div>

                </div>
            </a>
        </div>
    </li>
</ul>