<div class="row" >
    <div class="col-1" style="background-color: rgb(43, 43, 97); border-top-right-radius:20px;border-bottom-right-radius:20px; height: 100%; position: fixed;top: 0;left: 1px;">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-10 " style=" clear: both; float: left; left: 13%;margin-top: 20px; ">
        <app-admin-header></app-admin-header>
        <div style="height: 75%;">
            <app-admin-body></app-admin-body>
        </div>

    </div>
</div>