.card-style {
    width: 19rem;
    padding: 1rem 2rem;
    height: 10rem;
    border-radius: 35px;
    /* box-shadow: 3px 5px #c4c4c4; */
   cursor: pointer;
}

.card-style:hover{
    width: 24%;
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.89);
    opacity: .5;
}

.grad-1{
    background: linear-gradient(to bottom right, #009933 6%, #99ff99 119%);
}
.grad-2{
    background: linear-gradient(to bottom right, #000066 6%, #3366ff 119%);
}   
.grad-3{
    background: linear-gradient(to bottom right, #ee2a7e 6%, #ff7db8 100%);
}

.add-text-div{
    font-size: x-large;
    color: white;
    font-weight: bold;
}