<div class="jumbotron jumbotron-fluid">

    <div class="row d-flex justify-content-around">

        <!-- add categories -->
        <div class="card card-style">
            <div class="row">
                <div>+</div>
                <div class="text-block">
                    Add categories
                </div>
            </div>
        </div>

        <!-- add book -->
        <div class="card card-style">
            <div class="row">
                <div>+</div>
                <div class="text-block">
                    Add Book
                </div>
            </div>
        </div>

        <!-- add book -->
        <div class="card card-style">
            <div class="row">
                <div>+</div>
                <div class="text-block">
                    Add Coupon
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h3>Statistics</h3>
    <hr>
    <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
    </circle-progress>
</div>