<div class="jumbotron jumbotron-fluid" style="border-radius: 15px;">

    <div class="row d-flex justify-content-around">

        <!-- add categories -->
        <div type="button" data-toggle="modal" data-target="#categoryModal"
            class="card card-style grad-1 d-flex justify-content-center">
            <div class="row d-flex justify-content-center add-text-div">
                <div>+ &nbsp;</div>
                <div class="text-block">
                    Add Categories
                </div>
            </div>
        </div>

        <!-- add book -->
        <div type="button" class="card card-style grad-2  d-flex justify-content-center">
            <div data-toggle="modal" data-target="#bookModal" class="row d-flex justify-content-center add-text-div">
                <div>+ &nbsp;</div>
                <div class="text-block">
                    Add Book
                </div>
            </div>
        </div>

        <!-- add coupon -->
        <div type="button" data-toggle="modal" data-target="#couponModal"
            class="card card-style grad-3 d-flex justify-content-center">
            <div class="row d-flex justify-content-center add-text-div">
                <div>+ &nbsp;</div>
                <div class="text-block">
                    Add Coupon
                </div>
            </div>
        </div>

    </div>
</div>

<div>
    <h3>Statistics</h3>
    <hr>
    <circle-progress [percent]="85" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
    </circle-progress>
</div>





<!-- add category model -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">


                <form #catForm="ngForm" class="form-class">
                    <div class="row " style="background-color: azure;">
                        <div class="col-8 d-flex align-items-center justify-content-center">
                            <input (change)="onSelectFile($event)" required type="file" accept="*.png.jpg">
                        </div>
                        <div class="col-4"> <img [src]="url" alt="" width="80px" height="80px"></div>
                    </div>
                    <div class="form-group col-lg-9" style="margin-left: 50px; margin-top: 20px;">
                        <input required #catName='ngModel' [(ngModel)]='catModel.catName' name='catName' type="text"
                            class="form-control  " id="catName" placeholder="Enter Category Name"><br>
                        <input required #catDescription='ngModel' [(ngModel)]='catModel.catDescription'
                            name="catDescription" type="text" class="form-control" id="catDescription"
                            placeholder="Enter Category Description"><br>
                        <input required #catPosition='ngModel' [(ngModel)]='catModel.catPositon' name="catPosition"
                            type="number" class="form-control" id="catPosition" placeholder="Enter Catrgory position">
                    </div>
                </form>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button (click)="addCategory()" [disabled]='catForm.invalid' data-dismiss="modal" id="addcat"
                    type="button" class="btn btn-dark">Add</button>
            </div>
        </div>
    </div>
</div>




<!-- add book model -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">


                <form #bookForm="ngForm" class="form-class">
                    <div class="row " style="background-color: azure;">
                        <div class="col-8 d-flex align-items-center justify-content-center">
                            <input (change)="onSelectFile($event)" required type="file" accept="*.png.jpg">
                        </div>
                        <div class="col-4"> <img  [src]="url" alt="" width="80px"
                                height="80px"></div>
                    </div>
                    <div class="form-group col-lg-9" style="margin-left: 50px; margin-top: 20px;">
                        <input #bookTitle='ngModel' [(ngModel)]='bookModel.bookTitle' required name='bookTitle' type="text" class="form-control  " id="book-title"
                            placeholder="Enter Book Titile"><br>
                        <input #bookAuthor='ngModel' [(ngModel)]='bookModel.bookAuthor' required name='bookAuthor' required name="bookAuthor" type="text" class="form-control" id="bookAuthor"
                            placeholder="Enter Book Author"><br>

                            <input #bookISBN='ngModel' [(ngModel)]='bookModel.bookISBN' required name='bookISBN' required name="bookISBN" type="text" class="form-control" id="bookISBN"
                            placeholder="Enter book ISBN"><br>

                            <input #bookPrice='ngModel' [(ngModel)]='bookModel.bookPrice' required name="bookPrice" type="number" class="form-control" id="bookPrice"
                            placeholder="Enter Price">

                            <input style="margin-top: 20px;" #bookYear='ngModel' [(ngModel)]='bookModel.bookYear' required name="bookYear" type="number" class="form-control" id="bookYear"
                            placeholder="Enter Year">

                        <input style="margin-top: 20px;" bookDesc='ngModel' [(ngModel)]='bookModel.bookDes' required name="bookDesc" type="text" class="form-control" id="bookDesc"
                            placeholder="Enter Book Description"><br>

                        <input #bookPosition='ngModel' [(ngModel)]='bookModel.bookPos' required name="bookPosition" type="number" class="form-control" id="bookPosition"
                            placeholder="Enter Catrgory position">

                            <input style="margin-top: 20px;" #bookQty='ngModel' [(ngModel)]='bookModel.bookQty' required name="bookQty" type="number" class="form-control" id="bookQty"
                            placeholder="Enter Quantity">
                        <select (change)='changeCat($event)' style="margin-top: 20px;" class="custom-select">
                            <option selected>Select</option>
                            <option *ngFor="let cat of categories" value="{{cat.categoryId}}">{{cat.categoryName}}
                            </option>
                        </select>
                    </div>
                </form>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button (click)='addBook()' [disabled]='bookForm.invalid' data-dismiss="modal" id="addcat" type="button" class="btn btn-dark">Add</button>
            </div>
        </div>
    </div>
</div>





<!-- add book model -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">


                <form #couponForm="ngForm" class="form-class">

                    <div class="form-group col-lg-9" style="margin-left: 50px; margin-top: 20px;">
                        <input required #couponName='ngModel' [(ngModel)]='couponModel.name' name='couponName'
                            type="text" class="form-control  " id="couponName" placeholder="Enter Coupon Code"><br>

                        <input required #couponPercentage='ngModel' [(ngModel)]='couponModel.percentage'
                            name="couponPercentage" type="number" class="form-control" id="couponPercentage"
                            placeholder="Enter Coupon Percentage">
                    </div>
                </form>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button data-dismiss="modal" (click)="addCoupon()" [disabled]='couponForm.invalid' id="addcat"
                    type="button" class="btn btn-dark">Add</button>
            </div>
        </div>
    </div>
</div>