


<div class="row" >
    <div class="col-1" style="background-color: rgb(43, 43, 97); border-top-right-radius:20px;border-bottom-right-radius:20px; height: 100%; position: fixed;top: 0;left: 0px;">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-10 " style=" clear: both; float: left; left: 13%;margin-top: 20px; ">

        <app-category-search></app-category-search>

        <div class="table-responsive">
        <table class="table table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <td colspan="2"><span class="imgspan" ><img src="{{category.Image}}" height="20%" width="20%"  ></span><span class="imgspan" >{{category.Name}}</span></td>
                    <td>{{category.Description}}</td>
                    <td>
                        <button class="btn btn-danger deli"  *ngIf="category.IsChecked" (click)="onButtonDeactivate(category)">Deactivate</button>
                        <button class="btn btn-success deli"  *ngIf="!category.IsChecked" (click)="onButtonActivate(category)">Activate</button>
        
                    </td>
                    <td>
                        <button class="btn btn-warning " id="bt" (click)="passCat(category)"  data-toggle="modal" data-target="#exampleModalLong">Edit</button> 
                        <button class="btn btn-danger " id="bt">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <form #catForm="ngForm" class="form-class">
                <div class="row " style="background-color: azure;">
                    <div class="col-8 d-flex align-items-center justify-content-center">
                        <input required type="file" accept="*.png.jpg">
                    </div>
                    <div class="col-4"> <img (change)="onSelectFile($event)" [src]="url" alt="" width="80px"
                            height="80px"></div>
                </div>
                <div class="form-group col-lg-9" style="margin-left: 50px; margin-top: 20px;">
                    <input required name='cat-name' type="text" class="form-control  " id="cat-name"
                        placeholder="Enter Category Name" [(ngModel)]="tempCat.Name"><br>
                    <input required name="cat-description" type="text" class="form-control" id="cat-description"
                        placeholder="Enter Category Description"><br>
                    <input required name="cat-position" type="number" class="form-control" id="cat-position"
                        placeholder="Enter Catrgory position">
                </div>
            </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>