
th{
    text-align: center;
}
#bt
{
    margin:10px 10px;
}
.imgspan{
    display: inline-block;
    width:50%;
}
.deli
{
    margin-top: 8%;
    margin-left: 8%;
    width: 90%;
    box-sizing: border-box;
}