<app-user-nav-bar></app-user-nav-bar>

<div class="">

    <div class="row" style="height: 100vh">
        <div class="col-6 d-flex text-center justify-content-center  align-items-center">

            <div class=" text-center body-text">
                <div>
                    <h1 class="book-title">"Title"</h1>
                </div>
                <div class="book-author">
                    <h3> <i>- Author</i> </h3>
                </div>

                <div class="book-qote">
                    <h4> <i style="color: rgb(170, 170, 170);">"is simply dummy text of the printing and typesetting
                            industry. "</i> </h4>
                </div>

                <div class="book-price">
                    <h3> <i> {{220| currency:"INR" }}</i> </h3>
                </div>
                <div>
                    <div class="col" style="margin-top: 40px;">
                        <button type="button" data-toggle="modal" data-target="#exampleModalLong"
                            class="btn btn-outline-dark btn-lg"
                            style="border-radius: 15px; padding: 10px 30px;">Add to wishlist</button>
                        <button  type="button" class="btn btn-outline-dark btn-lg"
                            style="border-radius: 15px; padding: 10px 20px; margin-left: 20px;">Add to Cart</button>
                    </div>
                </div>
            </div>

        </div>



        <div class="col-6 d-flex    align-items-center">
            <img style="margin-left: 15%;"src="https://kbimages1-a.akamaihd.net/fdf06d9a-d900-48dd-94fb-1c14eb5b94ba/1200/1200/False/the-da-vinci-code.jpg"width="53%">
        </div>
    </div>
</div>





