<div class="sidebar-div ">

    <div style="margin-top: 20px; margin-bottom: 20px;">
        <a routerLink="/admin">
            <h5>Home</h5>
        </a>
    </div>

    <hr style="border:1px solid aliceblue;">

    <div style="  text-align: center; ">
        <div class="a-div">
            <a (click)="navigate( 'admin/orders' )" >
                <div>Orders</div>
            </a>
        </div>

        <div class="a-div">
            <a (click)="navigate( 'admin/books' )">
                <div>Books</div>
            </a>
        </div>
        <div class="a-div">
            <a (click)="navigate( 'admin/categories' )" >
                <div>Categories</div>
            </a>
        </div>
        <div class="a-div">
            <a (click)="navigate('admin/coupon')">
                <div>Coupons</div>
            </a>
        </div>
        <div class="a-div">
            <a (click)="navigate( 'admin/users' )">
                <div>Users</div>
            </a>
        </div>
        <div class="a-div">
            <a (click)="logout()" >
                <div>Logout</div>
            </a>
        </div>
    </div>


</div>