<section class="vh-100" style="background-color: lightblue;">
    <div class="container ">
      <div class="row  ">
        <div class="col col-xl-10" style="margin-top: 100px;">
          <div class="card" style="border-radius: 1rem;">
            <div class="row ">
              <div class=" col-lg-5  ">
                <img
                  src="https://images.pexels.com/photos/1907785/pexels-photo-1907785.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                  alt="login form"
                  class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              <div class=" col-lg-7 d-flex align-items-center">
                <div class="card-body  " style="padding: 10%;">
  
                  <form>
  
                  <br>
                  <br>
  
                    <h5  style="letter-spacing: 1px; margin-bottom: 5%;">Sign into your account</h5>
  
                    <div class="form-outline " style="margin-bottom: 1rem;" >
                      <input type="email" id="Email1" class="form-control form-control-lg" placeholder="--@--.com" />
                      <label class="form-label" for="Email1">Email address</label>
                    </div>
  
                    <div class="form-outline " style="margin-bottom: 1rem;">
                      <input type="password" id="Password1" class="form-control form-control-lg" />
                      <label class="form-label" for="Password1">Password</label>
                    </div>
  
                    <div style="margin-top: 1rem; margin-bottom: 2rem;">
                      <button class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                    </div>
  
                    
                    <p  style="color: #393f81;">Don't have an account? <a href="#" style="color: #393f81;">Register here</a></p>
                    
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>