<div class="container">
<div style="margin-right: 10px;">
    <select class="custom-select" #searchType>
      <option value="All" >All</option>
      <option value="bookTitle">Books</option>
      <option value="bookAuthor">Author</option>
      <option value="bookIsbn">ISBN</option>
    </select>
  </div>
  <form class="form-inline my-2 my-lg-0">
    <input style="width: 300px;" class="form-control mr-lg-2 " type="search" placeholder="Search" aria-label="Search" style="border-radius: .6rem;" #serachItem>
    <button class="btn btn-outline-success my-2 my-sm-0"  style="border-radius: .6rem;" (click)="search(serachItem.value,searchType.value)">Search</button>
  </form>
</div>