<app-user-nav-bar></app-user-nav-bar>

<div class="container" >

    <div class="card"  style="padding: 30px; border-radius: 20px; margin-top: 50px;" *ngFor="let wishlist of wishlists">
        <div class="row">
            <img height="150px" width="auto"
                src="https://kbimages1-a.akamaihd.net/fdf06d9a-d900-48dd-94fb-1c14eb5b94ba/1200/1200/False/the-da-vinci-code.jpg"
                alt="Card image cap">
            <div style="margin-left: 20px;">
                <h5 class="card-title">{{wishlist.BookName}}</h5>
                <p class="card-text">{{wishlist.BookDescription}}</p>
                
            </div>
            <div style="margin-left: 10%; margin-top: 20px;">
                <p>{{wishlist.BookPrice | currency :'INR'}} </p>
                <button style="border-radius: 20px;" class="btn btn-dark" (click)="addToCart(wishlist.BookId)">Add to Cart </button>
                <i class="bi bi-trash" id="trash" (click)="deleteFromWishlist(wishlist.WishlistId)" style="margin-left: 15px;"></i>
            </div>

           
        </div>
    </div>




</div>