<app-user-nav-bar></app-user-nav-bar>

<div class="container" >

    <div class="card"  style="padding: 30px; border-radius: 20px; margin-top: 50px;">
        <div class="row">
            <img height="150px" width="auto"
                src="https://kbimages1-a.akamaihd.net/fdf06d9a-d900-48dd-94fb-1c14eb5b94ba/1200/1200/False/the-da-vinci-code.jpg"
                alt="Card image cap">
            <div style="margin-left: 20px;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                
            </div>
            <div style="margin-left: 10%; margin-top: 20px;">
                <p>{{221 | currency :'INR'}} </p>
                <button style="border-radius: 20px;" class="btn btn-dark">Add to Cart </button>
            </div>
           
        </div>
    </div>

    <div class="card"  style="padding: 30px; border-radius: 20px; margin-top: 50px;">
        <div class="row">
            <img height="150px" width="auto"
                src="https://kbimages1-a.akamaihd.net/fdf06d9a-d900-48dd-94fb-1c14eb5b94ba/1200/1200/False/the-da-vinci-code.jpg"
                alt="Card image cap">
            <div style="margin-left: 20px;">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                
            </div>
            <div style="margin-left: 10%; margin-top: 20px;">
                <p>{{221 | currency :'INR'}} </p>
                <button style="border-radius: 20px;" class="btn btn-dark">Add to Cart </button>
            </div>
           
        </div>
    </div>


</div>