<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    <a class="navbar-brand"  href="#"> <img width="40px" src="https://previews.123rf.com/images/pikalvi/pikalvi2008/pikalvi200800498/153967302-coffee-book-design-tea-book-store-icon-.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Categories</a>
        </li>
        
        
      </ul>
      <div style="margin-right: 10px;">
        <select class="custom-select">
          <option selected>All</option>
          <option value="1">Books</option>
          <option value="1">Author</option>
          <option value="2">Categories</option>
          <option value="3">ISBN</option>
        </select>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input style="width: 300px;" class="form-control mr-lg-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <p>favorite</p>
      <p>cart</p>
      <div *ngIf="showLogin" (click)="login()" style="color: white; font-weight: bold; cursor: pointer;">Login</div>
      <div *ngIf="!showLogin"  (click)="logOut()" style="color: white; font-weight: bold; cursor: pointer;">Logout</div>
    </div>
  </nav>