<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
    <a class="navbar-brand"  href="#"> <img width="40px" src="https://previews.123rf.com/images/pikalvi/pikalvi2008/pikalvi200800498/153967302-coffee-book-design-tea-book-store-icon-.jpg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
           
          <a routerLink='/' class="nav-link" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink='/user/user-list' class="nav-link" >Books</a>
        </li>
        <li class="nav-item">
          <a routerLink='/user/categories' class="nav-link" href="#">Categories</a>
        </li>
        
        
      </ul>
      <app-search></app-search>
      <div routerLink='/user/orders'  style="color: white; font-weight: bold; cursor: pointer; margin-right: 20px;"><i style="font-size: x-large;" class="bi bi bi-basket"></i></div>
      <div routerLink='/user/wishlist'  style="color: white; font-weight: bold; cursor: pointer; margin-right: 25px;"><i style="font-size: x-large;" class="bi bi-heart-fill"></i></div>
      <div routerLink='/user/cart' style="color: white; font-weight: bold; cursor: pointer; margin-right: 25px;"><i style="font-size: x-large;" class="bi bi-cart-dash"></i></div>
      <div *ngIf="showLogin" (click)="login()" style="color: white; font-weight: bold; cursor: pointer;">Login</div>
      <div *ngIf="!showLogin"  (click)="logOut()" style="color: white; font-weight: bold; cursor: pointer;">Logout</div>
    </div>
  </nav>