<div class="row">
    <div class="col-1"
        style="background-color: rgb(43, 43, 97); border-top-right-radius:20px;border-bottom-right-radius:20px; height: 100%; position: fixed;top: 0;left: 1px;">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-10 " style=" clear: both; float: left; left: 13%;margin-top: 50px; ">
        <h3>Users</h3>
        <hr>
        <div style="margin-top: 30px;">
            <table class="table table-bordered" style="text-align: center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="center-block" style="text-align: center; " *ngFor="let message of messages | slice: (messages.length > 5 ? messages.length - 5 : 0); index as i">
                    <tr>
                        <th scope="row" [width]=50>{{i+1}}</th>
                        <td scope="col" [width]="210">
                            <div >
                                hii asdjbdas 
                            </div>
                        </td>
                        <td scope="col" [width]="210">
                            <div >
                                email
                            </div>
                        </td>
                        <td scope="col" [width]="150">
                            <div >
                                1234567890
                            </div>
                        </td>
                        <td scope="col" [width]="500">
                            <div >
                                Addresss1 Addresss1 Addresss1 Addresss1 Addresss1 Addresss1 Addresss1
                            </div>
                        </td>
                        <td scope="col">
                            <div *ngIf="i<3">
                                <button class="btn btn-danger">Deactivate</button>
                            </div>
                            <div *ngIf="i>=3">
                                <button class="btn btn-success">Activate</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>