<div class="row">
    <div class="col-1"
        style="background-color: rgb(43, 43, 97); border-top-right-radius:20px;border-bottom-right-radius:20px; height: 100%; position: fixed;top: 0;left: 1px; z-index: 100;">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-10 " style=" clear: both; float: left; left: 13%;margin-top: 50px; display: block; z-index: -1; ">
        <h3>Users</h3>
        <hr>
        <div class="table-responsive overflow-wrap: break-word " style="margin-top: 30px;overflow-x: inherit;  ">
            <table class="table table-bordered" style="text-align: center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Address</th>
                        <!-- <th scope="col">Status</th> -->
                    </tr>
                </thead>
                <tbody class="center-block" style="text-align: center; " >
                    <tr *ngFor="let user of users">
                        <th scope="row" [width]=50>{{user.userID}}</th>
                        <td scope="col" [width]="210">
                            <div >
                                {{user.name}} 
                            </div>
                        </td>
                        <td scope="col" [width]="210">
                            <div >
                                {{user.email}} 
                            </div>
                        </td>
                        <td scope="col" [width]="150">
                            <div >
                                {{user.phone}}
                            </div>
                        </td>
                        <td scope="col" [width]="500">
                            <div >
                                {{user.address}}
                            </div>
                        </td>
                        <!-- <td scope="col">
                             <div >
                                <button class="btn btn-danger">Deactivate</button>
                            </div> 
                             <div *ngIf="i>=3">
                                <button class="btn btn-success">Activate</button>
                            </div> 
                        </td> -->
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>