<div class="row" >
    <div class="col-2" style="background-color: rgb(43, 43, 97); height: 100%; position: fixed;top: 0;left: 1px;">
        <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-9 " style=" clear: both; float: left; left: 20%;margin-top: 20px; ">
        <div>
            <table class="table table-bordered table-dark  table-hover">
                <thead>
                    <th style="text-align: center;" *ngFor = "let head of headers">{{head}}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rows">
                        <td style="text-align: center;">{{row["CouponId"]}}</td>
                        <td style="text-align: center;">{{row["Name"]}}</td>
                        <td style="text-align: center;">{{row["Percentage"]}}</td>
                        <td style="text-align: center;">{{row["Status"]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
