<app-user-nav-bar></app-user-nav-bar>

<div class=" row" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="col-9" style="margin-left: 40px;">
        <div class="card" style="padding: 20px;">

            <div class="headings">Address</div>
            <hr>
            <address style="margin-left: 10px;">
               {{userAddress}}
            </address>

            <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#editAddressModal"class="link-dark" style="margin-left: 10px;" >Edit Address</a>


            <div style="margin-top: 30px;" class="headings">Cart Items</div>
            <hr>
            <div class="card" style="padding: 10px 30px; margin-left: 10px;">
                <div *ngFor="let cartItem of cart; let i = index" class="row" style="margin-top: 20px;">

                    <div class="row  col-6 d-flex justify-content-start align-items-center">
                        <div style="margin-right: 20px; font-weight: bold; font-size: larger;color: gray;" class="">
                            {{i+1}}.
                        </div>
                        <div style="margin-left: 20px; margin-right: 50px; margin-top: 10px;">
                            <h5 class="card-title">{{cartItem.bookTitle}}</h5>
                        </div>


                    </div>
                    <div class="col-3">
                        <img height="90px" width="auto" src="assets/images/categories/{{cartItem.bookImage}}">
                    </div>
                    <div class="col-1  d-flex justify-content-center align-items-center"
                        style="font-weight: bold; color: brown; font-size: larger;">
                        {{cartItem.bookQuantity}}
                    </div>

                    <div style="color: green; font-weight: 700;"
                        class="col-2 d-flex justify-content-center align-items-center">
                        <div>{{cartItem.bookQuantity*cartItem.bookPrice | currency :'INR'}} </div>

                    </div>

                </div>
            </div>

            <hr>

            <!-- end of cart item -->
            <div>
                <div style="margin-top: 30px;" class="headings">Coupon</div>
                <hr>
                <div class="row" style="margin-left: 10px;">
                    <div class="form-group" style="width: 30%;">
                        <input #code='ngModel' [(ngModel)]='enteredCode' name='code' type="text" class="form-control"
                            id="couponCode" placeholder="Enter Code">
                    </div>
                    <button (click)="applyCoupon()" style="height: 40px; margin-left: 20px; border-radius: 10px;"
                        class="btn btn-dark "> Apply</button>
                </div>
                <div style="margin-left: 20px;">
                    <div class="text-success" *ngIf='validCoupon==true'>Coupon Applied</div>
                    <div class="text-danger" *ngIf='validCoupon==false'>Invalid Coupon </div>
                </div>
               
            </div>


        </div>
    </div>


    <div class="col-2" style="text-align: center;">
        <div class="card" style="padding: 20px;">
            <div class="headings" style="font-size: x-large;"> Sub Total</div>
            <hr>
            <div class="row d-flex justify-content-between" style="margin: 0px 10px;color: green; font-weight: 700;">
                <div>Total</div>
                <div>{{subTotal | currency:'INR'}}</div>
            </div>
            <div *ngIf="this.validCoupon==true" class="row d-flex justify-content-between"
                style="margin: 0px 10px;color: brown; font-weight: 700;">
                <div>Discount</div>
                <div>{{discount| currency:'INR'}}</div>
            </div>
            <hr>
            <div class="row d-flex justify-content-between" style="margin: 0px 10px ;color: green; font-weight: 700;">
                <div>To Pay</div>
                <div>{{subTotal-discount| currency:'INR'}}</div>
            </div>

        </div>

        <div style="margin-top: 20px;">
            <button (click)="placeOrder()" style="border-radius: 10px ;" class="btn-block  btn-dark"> Place order</button>
        </div>
    </div>



</div>









<!-- modal -->


<div id="editAddressModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Address</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="margin: 40px 20px;">
           <input #address='ngModel' [(ngModel)]='userAddress' type="text" class="form-control" id="address" aria-describedby="address" placeholder="Edit Address">
        </div>
        <div class="modal-footer">
          <button (click)='updateAddress()' type="button" data-dismiss="modal" class="btn btn-dark">Save changes</button>
          <button (click)='reverseAddress()' type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>